@model Menuetti.Models.UserProfileViewModel
@{
    ViewData["Title"] = "Käyttäjän tiedot";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>

            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                <h3>@Model.Name</h3>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> @Model.EmailAddress
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h2>Ansiomerkit</h2>

            <div class="col-md-2">
                @if (@ViewBag.Omni > 2)
                {<p><img src="~/images/meat.png" alt="Meat" /> 3 reseptiä :) </p>}
                @if (@ViewBag.Omni > 9)
                {
                    <p> <img src="~/images/fish.png" alt="Fish" /> Olet lisännyt 10 sekaruokareseptiä!!!</p>}
                @if (@ViewBag.Omni > 19)
                {
                    <p> <img src="~/images/fish.png" /> Olet lisännyt 20 sekaruokareseptiä!!!</p>}
            </div>
            <div class="col-md-2">
                @if (@ViewBag.Vegetarian > 2)
                {<p><img src="~/images/cheese.png" alt="Cheese" /> 3 reseptiä :) </p>}
                @if (@ViewBag.Vegetarian > 9)
                {
                    <p> <img src="~/images/vegetarian.png" alt="Vegetarian" /> Olet lisännyt 10 vegeruokareseptiä!!!</p>}
                @if (@ViewBag.Vegetarian > 19)
                {
                    <p> <img src="~/images/soybean.png" alt="Soybean" /> Olet lisännyt 20 vegeruokareseptiä!!!</p>}
            </div>
            <div class="col-md-2">
                @if (@ViewBag.Vegetarian > 2)
                {<p><img src="~/images/cheese.png" alt="Cheese" /> 3 reseptiä :) </p>}
                @if (@ViewBag.Vegetarian > 9)
                {
                    <p> <img src="~/images/vegetarian.png" alt="Vegetarian" /> Olet lisännyt 10 vegaaniruokareseptiä!!!</p>}
                @if (@ViewBag.Vegetarian > 19)
                {
                    <p> <img src="~/images/vegan.png" alt="Vegan" /> Olet lisännyt 20 vegaaniruokareseptiä!!!</p>}
            </div>
           
        </div>
    </div>
</div>



