@model Menuetti.Models.Ingredients

@{
    ViewData["Title"] = "Raaka-aineen tiedot";
}

<h2>Tarkastele tietoja</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.IngredientName)*@
            Raaka-aineen nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IngredientName)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.AmountG)*@
            Määrä (g)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountG)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.RecipeUnit)*@
            Raaka-aineen yksikkö
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeUnit)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Recipe)*@
            Reseptin nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.IngredientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IngredientId)
        </dd>*@
    </dl>
</div>
<div>
    @if (Model.Recipe.UserId != null && ViewBag.UserId == Model.Recipe.UserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.IngredientId" class="btn btn-default" style="margin-left: 10px">Muokkaa</a>
    }
<a asp-action="Index" class="btn btn-default" style="margin-left: 10px">Palaa takaisin</a>
</div>
