@model IEnumerable<Menuetti.Models.Ingredients>

@{
    ViewData["Title"] = "Index";
}

<h2>Raaka-aineet</h2>

@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Ingredients" asp-action="Create" button class="btn btn-default btn-md btn">Luo uusi</a>
}
else
{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.IngredientName)*@
                Raaka-aine
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AmountG)*@
                Määrä
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RecipeUnit)*@
                Raaka-aineen yksikkö
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Recipe)*@
                Resepti
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.RecipeName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IngredientId" class="btn btn-default" style="margin-right: 6px">Tiedot</a>
                    @if (item.Recipe.UserId != null && ViewBag.UserId == item.Recipe.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@item.IngredientId" class="btn btn-default" style="margin-right: 6px">Muokkaa</a>

                        <a asp-action="Delete" asp-route-id="@item.IngredientId" class="btn btn-default"> Poista </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
