@model IEnumerable<Menuetti.Models.Ingredients>

@{
    ViewData["Title"] = "Index";
}

<h2>Raaka-aineet</h2>

<p>
    <a asp-action="Create">Luo uusi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.IngredientName)*@
                Raaka-aine
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AmountG)*@
                Määrä (g)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RecipeUnit)*@
                Raaka-aineen yksikkö
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Recipe)*@
                Reseptin ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Instructions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngredientId">Muokkaa</a> |
                <a asp-action="Details" asp-route-id="@item.IngredientId">Tiedot</a> |
                <a asp-action="Delete" asp-route-id="@item.IngredientId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
