@model Menuetti.Models.Recipes

@{
    ViewData["Title"] = "Tarkastele reseptiä";
}

<div class="page-cont">

    <h2>@ViewBag.NameOfRecipe</h2>
    <div>
        <hr />
  
            <table class="recipe-table">
                <tbody>
                    <tr>
                        <td class="td-align-right"><img src="~/images/plate.png" alt="Portions" /></td>
                        <td >@Html.DisplayFor(model => model.Portions)</td>
                    </tr>
                    <tr>
                        <td class="td-align-right"><img src="~/images/time.png" alt="PreparationTime" /></td>
                        <td>@Html.DisplayFor(model => model.Time) min</td>
                    </tr>
                    <tr>
                        <td class="td-align-right">Ruokavalio</td>
                        <td>@Html.DisplayFor(model => model.DietType)</td>
                    </tr>

                </tbody>


            </table>
        
    </div>
    <hr />
    <h4>Reseptin raaka-aineet</h4>
    <table>
        <tbody>
            @foreach (var item in Model.Ingredients)
            {
                <tr>
                    <td class="td-align-right">@item.AmountG</td>
                    <td>@item.RecipeUnit</td>
                    <td>@item.IngredientName</td>
                </tr>
            }

        </tbody>
    </table>
    <hr />
    <h5>
        @*@Html.DisplayNameFor(model => model.Instructions)*@
        Ohjeet
    </h5>
    <dd class="multiline">
        @Html.DisplayFor(model => model.Instructions)
    </dd>
    <hr />
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |*@
        @*<a asp-action="Index" class="btn btn-default">Palaa takaisin</a>*@
        <button onclick="window.history.go(-1);">Palaa takaisin</button>
    </div>
