@model Menuetti.Models.Recipes

@{
    ViewData["Title"] = "Tarkastele reseptiä";
}

<h2>@ViewBag.NameOfRecipe</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Portions)*@
            <img src="~/images/plate.png" alt="Portions" />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Portions)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Time)*@
            <img src="~/images/time.png" alt="PreparationTime" />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time) min
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.DietType)*@
            Ruokavalio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DietType)
        </dd>
    </dl>
</div>
<hr />
<h4>Reseptin raaka-aineet</h4>
@foreach (var item in Model.Ingredients)
{
    <p>
        @item.AmountG @item.RecipeUnit @item.IngredientName
    </p>
}
<hr/>
<dt>
    @*@Html.DisplayNameFor(model => model.Instructions)*@
    Ohjeet
</dt>
<dd class="multiline">
    @Html.DisplayFor(model => model.Instructions)
</dd>
<hr />
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |*@
    <a asp-action="Index" class="btn btn-default">Palaa takaisin</a>
</div>
