@model Menuetti.Models.Recipes

@{
    ViewData["Title"] = "Tarkastele reseptiä";
}

<h2>Tarkastele reseptiä</h2>

<div>
    @*<h4>Recipes</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.RecipeName)*@
            Reseptin nimi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.User)*@
            Lisääjä
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Portions)*@
            Annoksia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Portions)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Time)*@
            Valmistusaika (min)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.DietType)*@
            Ruokavalio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DietType)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Instructions)*@
            Ohjeet
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>
    </dl>
</div>
<hr />
<h4>Reseptin raaka-aineet</h4>
@foreach (var item in Model.Ingredients)
{
<p>@item.AmountG @item.RecipeUnit @item.IngredientName</p>
}

<hr />
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.RecipeId">Edit</a> |*@
    <a asp-action="Index">Palaa takaisin</a>
</div>


<div>
    <input type="text" id="TestLocalStorage" value=""/>
    <input type="button" id="testi" value=TestiTallennus onClick="fnSaveData()" />
</div>

<script>
    //dummydatan tallentaminen LocalStorageen --> muokattava/poistettava kun päästään oikeaan dataan käsiksi
    function fnSaveData() {
        var name = document.getElementById('TestLocalStorage');
        localStorage.setItem('name', TestLocalStorage.value);
    }
</script>