@model Menuetti.Models.Recipes

@{
    ViewData["Title"] = "Edit";
    var ingredients = TempData["ingredients"];
    var recipeIngredientsCount = @Model.Ingredients.Count();
}
@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            setIndex(@recipeIngredientsCount);
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<h2>Muokkaa reseptiä</h2>
<hr />
<div class="formi">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RecipeId" />
        <div class="form-group">
            <input type="hidden" asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" readonly />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecipeName" class="control-label">Reseptin nimi</label>
            <input asp-for="RecipeName" class="form-control" />
            <span asp-validation-for="RecipeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Portions" class="control-label">Annoksia</label>
            <input asp-for="Portions" class="form-control" />
            <span asp-validation-for="Portions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Time" class="control-label">Valmistusaika (min)</label>
            <input asp-for="Time" class="form-control" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <b>Raaka-aineet</b>
        <div id="newIngredients">
            @if (recipeIngredientsCount > 0)
            {
                var i = recipeIngredientsCount - 1; // counting how many rows needed --> numbers to the field id's

                @foreach (var item in Model.Ingredients)
                {
                    if (Model.Ingredients.Last().IngredientId != item.IngredientId) // printing out all the rows except the last one that goes to the partial view
                    {
                        <div class="form-group" id="added-item-@i">
                            <div id="ingredient-row">
                                <div class="short-ingredient-box">
                                    <input class="form-control" type="number" id=ingredient-@i-amount min="1" name="Ingredients[@i].AmountG" required readonly value="@item.AmountG" />
                                </div>
                                <div class="short-ingredient-box">
                                    <input class="form-control" type="text" id=ingredient-@i-unit name="Ingredients[@i].RecipeUnit" required readonly value="@item.RecipeUnit" />
                                </div>
                                <div class="long-ingredient-box">
                                    <input class="form-control" type="text" id=ingredient-@i-name name="Ingredients[@i].IngredientName" required readonly value="@item.IngredientName" />
                                </div>
                                <div class="delete-button">
                                    <button type="button" onclick="deleteRow(id)" id="delete-button-@i">X</button>
                                </div>
                            </div>
                        </div>

                        i--;
                    }
                }
            }
        </div>
        @{await Html.RenderPartialAsync("LoadJson", ingredients, new ViewDataDictionary(ViewData) { { "rowNumber", 0 } });}
            @if (Model.Ingredients.Count > 0)
             {
                <script>
                    document.getElementById("ingredient-0-amount").value = @Model.Ingredients.Last().AmountG;
                    document.getElementById("ingredient-0-unit").value = "@Model.Ingredients.Last().RecipeUnit";
                    document.getElementById("ingredient-0-name").value = "@Model.Ingredients.Last().IngredientName";
                </script>
             }
        <button type="button" class="btn" id="AddIngredient" onclick="newIngredient()">Lisää uusi raaka-aine</button>
        <div class="form-group">
            <label asp-for="DietType" class="control-label">Ruokavalio</label>
            <select asp-for="DietType" class="form-control"><option>Sekaruoka</option><option>Kasvis</option><option>Vegaaninen</option></select>
            <span asp-validation-for="DietType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Instructions" class="control-label">Valmistusohje</label>
            @Html.TextAreaFor(m => m.Instructions, 15, 600, new { @class = "form-control" })
            <span asp-validation-for="Instructions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Tallenna resepti" class="btn btn-default" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Palaa takaisin</a>
</div>
