@model IEnumerable<Menuetti.Models.Recipes>

@{
    ViewData["Title"] = "Index";
}

<h2>Reseptit</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Recipes" asp-action="Create" button type="button" class="btn btn-default btn-md btn">Luo uusi</a>
    }
    else
    {
    }
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.RecipeName)*@
                Reseptin nimi
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Portions)*@
                Annoksia
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Instructions)*@
                Valmistusohje
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Time)*@
                Valmistusaika (min)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DietType)*@
                Ruokavalio
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.User)*@
                Käyttäjä
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DietType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Muokkaa</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Tiedot</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Poista</a>
            </td>
        </tr>
}
    </tbody>
</table>
