@model IEnumerable<Menuetti.Models.Recipes>

@{
    ViewData["Title"] = "Omat reseptit";
}

<h2>Omat reseptit</h2>
<p>
    <a asp-controller="Recipes" asp-action="Create" button class="btn btn-default btn-md btn">Luo uusi resepti</a>  <a asp-controller="Recipes" asp-action="Index" button class="btn btn-default btn-md btn">Näytä kaikki reseptit</a>
</p>
<table class="table">
    <thead @*style="position: fixed; width: 100%" *@>
        <tr>
            <th>
                Reseptin nimi
            </th>
            <th>
                Valmistusaika
            </th>
            <th>
                Ruokavalio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr><td></td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <th style="height: 52px; vertical-align: middle">
                    <a asp-action="Details" asp-route-id="@item.RecipeId" style="margin-right: 6px">@Html.DisplayFor(modelItem => item.RecipeName)</a>
                </th>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.Time) min
                </td>
                <td style="vertical-align: middle">
                    @Html.DisplayFor(modelItem => item.DietType)
                </td>
                <td style="text-align: right">
                    <a asp-action="Edit" asp-route-id="@item.RecipeId" class="btn btn-default" style="margin-right: 6px"><img src="~/images/edit.png" alt="edit" /></a>
                    <a asp-action="Delete" asp-route-id="@item.RecipeId" class="btn btn-default" style="margin-right: 6px"><img src="~/images/trash.png" alt="delete" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
