@model List<Recipes>
@{
    ViewData["Title"] = "Omni";
    var nroOfRecipes = ViewBag.amountOfRecipes;
    var nroOfRecipesPerCarousel = 3;
    var nroOfRecipeOptions = nroOfRecipes * nroOfRecipesPerCarousel;
    var index = 0;
}
@section Scripts
    {
    <script>
        // Function for the carousel swipe
        // Bootstrap Carousel Swipe jQuery plugin v1.1 | https://github.com/maaaaark/bcSwipe | MIT License
        (function ($) {
            $.fn.bcSwipe = function (settings) {
                var config = { threshold: null };
                if (settings) {
                    $.extend(config, settings);
                }

                this.each(function () {
                    var stillMoving = false;
                    var start;

                    if ('ontouchstart' in document.documentElement) {
                        this.addEventListener('touchstart', onTouchStart, false);
                    }

                    function onTouchStart(e) {
                        if (e.touches.length == 1) {
                            start = e.touches[0].pageX;
                            stillMoving = true;
                            this.addEventListener('touchmove', onTouchMove, false);
                        }
                    }

                    function onTouchMove(e) {
                        if (stillMoving) {
                            var x = e.touches[0].pageX;
                            var difference = start - x;
                            if (Math.abs(difference) >= config.threshold) {
                                cancelTouch();
                                if (difference > 0) {
                                    $(this).carousel('next');
                                }
                                else {
                                    $(this).carousel('prev');
                                }
                            }
                        }
                    }

                    function cancelTouch() {
                        this.removeEventListener('touchmove', onTouchMove);
                        start = null;
                        stillMoving = false;
                    }
                });

                return this;
            };
        })(jQuery);

        $(document).ready(function () {
            // DOM loaded - jQuery works
            $('.carousel').bcSwipe({ threshold: null });
        })
    </script>
}
<h2>Sekaruokavalio</h2>

<div>Kuinka monta reseptiä haluat?</div>
<nav>
    <ul class="pagination">
        <li>
            @for (int i = 1; i < 6; i++)
            {
                string number = i.ToString();
                @Html.ActionLink(number, "SekaruokaKaruselli", "DietType", new { id = number }, null)
            }
        </li>
    </ul>
</nav>

@*<div>Erilaisia reseptejä: @nroOfRecipeOptions</div>*@

@for (int j = 1; j <= nroOfRecipes; j++)
{
    <div class="col-md-4">
        <!--Carousel-->
        <div id="sidebar-carousel-@j" style="height:70%" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="item active" style="height: 7em; text-align:center">
                    <p class="btntext" style="text-align: center; height:50%; padding: 1em 0">
                        @*<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAABkCAMAAAAL3/3yAAAAA1BMVEUAAACnej3aAAAANElEQVR4nO3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfgx1lAABqFDyOQAAAABJRU5ErkJggg==" />*@
                        @Model[index].RecipeName<br />
                        <img src="~/images/time.png" /> <small>@Model[index].Time min</small>
                    </p>
                </div>
                @for (int i = 1; i < nroOfRecipesPerCarousel; i++)
                {
                    <div class="item" style="height: 7em; text-align:center">
                        <p class="btntext" style="text-align: center; padding: 1em 0">
                            @*<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAABkCAMAAAAL3/3yAAAAA1BMVEUAAACnej3aAAAANElEQVR4nO3BAQ0AAADCoPdPbQ43oAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAfgx1lAABqFDyOQAAAABJRU5ErkJggg==" />*@
                            @Model[(i + index)].RecipeName<br />
                            <img src="~/images/time.png" /> <small>@Model[(i + index)].Time min</small>
                        </p>
                    </div>
                }
                <script>@(index+=nroOfRecipesPerCarousel);</script>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#sidebar-carousel-@j" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#sidebar-carousel-@j" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div><!--/Carousel-->
    </div>
}



