@using System.Globalization;

@{
    ViewData["Title"] = "Ostoskori";
    CultureInfo ci = new CultureInfo("en-US");
}
<div class="page-cont-shoppinglist" testID="page-cont-shoppinglist">
    <h2>Valitsemasi menut</h2>
    
        @foreach (var item in ViewBag.Recipes)
        {
         <div class="col recipe-text"><a asp-controller="Recipes" asp-action="DetailsShoppinglist" asp-route-id="@item.RecipeId" name="selected-recipe-text">@item.RecipeName</a></div>
          
        }
      
    <hr />
    <h4>Tarvitsemasi raaka-aineet</h4>
        
        <div class="container shopping-cont">
            
            <div class="row row-margin">
                <div class="green col-xs-1 shopping-check-box"><h5 class="shopping-heading">
                    <img src="~/images/shoppingcart25.png" /></h5>
                </div>

                <div class="col-xs-11">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6"><h5 class="shopping-heading">Ainekset</h5></div>
                        <div class="col-xs-4 col-sm-2"><h5 class="shopping-heading">Määrä</h5></div>
                        <div class="col-xs-4 col-sm-2"><h5 class="shopping-heading">Yksikkö</h5></div>
                        <div class="col-xs-4 col-sm-2"><h5 class="shopping-heading">Määrä grammoina</h5></div>
                    </div>
                </div>
                
            </div>
            @foreach (var item in ViewBag.List)
            {
            <div class="row shopping-list-row row-margin">
                <div class="col-xs-1 shopping-check-box">
                    <span><input type="checkbox" /></span>
                </div>

                <div class="col-xs-11">

                    <div class="row">

                        <div class="col-xs-12 col-sm-6 shopping-list-text">
                            <span>@item.Key</span>
                        </div>

                        <div class="col-xs-2 col-sm-2">
                            @foreach (var a in @ViewBag.jsoni)
                            {
                                if (item.Key == a.name.fi && item.Value != null)
                                {
                                    var conversion = string.Join("", ((IEnumerable<dynamic>)a.units).Select(m => m.mass).First()); ;
                                    var unitti = string.Join(",", ((IEnumerable<dynamic>)a.units).Select(m => m.description.fi).First());
                                    <span>@((Convert.ToDouble(item.Value) / double.Parse(conversion, ci)).ToString("f1"))  </span>
                                }
                            }
                        </div>
                        <div class="col-xs-6 col-sm-2">
                            @foreach (var a in @ViewBag.jsoni)
                            {
                                if (item.Key == a.name.fi && item.Value != null)
                                {
                                    var unitti = string.Join(",", ((IEnumerable<dynamic>)a.units).Select(m => m.description.fi).First());
                                    <span>@unitti</span>
                                }
                            }
                        </div>
                        <div class="col-xs-4 col-sm-2">
                            @if (item.Value != null)
                            {
                                string g = " g";
                                @item.Value @g.ToString();
                            }
                        </div>
                    </div>
                </div>
                </div>
                }
            </div>
    </div>

    <style>
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    </style>
