@using System.Globalization;


@{
    ViewData["Title"] = "ShoppingListDetails";
    CultureInfo ci = new CultureInfo("en-US");
}


<div class="container">
    <h2>5 päivän menu:</h2>
    @foreach (var item in ViewBag.Recipes)
    {
        <tr>
            <td><a href="http://localhost:62500/Recipes/Details/@item.RecipeId">@item.RecipeName</a></td>
        </tr>
        <br />
    }
    <h3>Ostoslista</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Ainekset</th>
                    <th>Määrä</th>
                    <th>Yksikkö</th>
                    <th>Määrä grammoina</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.List)
                {
                <tr>
                    <td>@item.Key</td>
                    <td>
                        @foreach (var a in @ViewBag.jsoni)
                        {
                            if (item.Key == a.name.fi && item.Value!=null)
                            {
                                var conversion = string.Join("", ((IEnumerable<dynamic>)a.units).Select(m => m.mass).First()); ;

                                var unitti = string.Join(",", ((IEnumerable<dynamic>)a.units).Select(m => m.description.fi).First());

                                <p>@((Convert.ToDouble(item.Value) / double.Parse(conversion, ci)).ToString("f1"))  </p>
                                

                            }


                        }
                    </td>
                    <td>
                        @foreach (var a in @ViewBag.jsoni)
                        {
                            if (item.Key == a.name.fi && item.Value != null)
                            {

                                var unitti = string.Join(",", ((IEnumerable<dynamic>)a.units).Select(m => m.description.fi).First());

                                <p>@unitti</p>

                            }


                        }
                    </td>

                    <td>
                        @if (item.Value != null)
                        {
                            string g = "g";
                            @item.Value;
                            g.ToString();
                        }
                      

                    </td>



                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



